/* .App {
  text-align: center;
} */
.article-card {
  border: 1px solid grey;
  padding: 30px;
}

.posts-list-section , .add-post-form{
  max-width: 900px;
  padding: 30px;
  margin: auto;
}

.posts-heading {
  margin: 30px 0px;
}
